/.DS_Store
/.venv
/.vscode
/01-Setup-&-Installation
/02-Welcome-to-Python
/03-Numbers-Booleans-and-Equality
/04-Variables
/05-Functions
/06-Strings-The-Basics
/07-Strings-Methods
/08-Control-Flow
/09-Lists-The-Basics
/10-Lists-Iteration
/11-Debugging
/12-Lists-Mutation
/13-Lists-Methods
/14-Built-in-Functions
/15-Tuples
/16-Objects-and-References
/17-Dictionaries-the-Basics
/18-Dictionaries-Iteration
/19-Sets
/20-Modules
/21-Reading-From-and-Writing-To-Files
/22-Decorators
/23-Classes-the-Basics
/24-Classes-Attributes-and-Methods
/25-Classes-Magic-Methods
/26-Classes-Inheritance
/27-Exception-Handling
/28-Dates-and-Time
/29-The-random-Module
/30-Testing-Code-The-Basics
/31-Testing-Code-Mocking
/33-Regular Expressions (RegEx)
/35-Web-Scraping-with-Scrapy
/99-Internet
/my_first_file.txt
/requirements.txt